
include LICENSE.md
include README.md
include snowav/config/CoreConfig.ini
include snowav/config/PointValuesCoreConfig.ini
include snowav/config/recipes.ini
recursive-include snowav/report/figs *
recursive-include snowav/report/template *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

# recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
