
cmocean==1.1
colorcet==0.9.1
configparser==3.5.0
Cython==0.25.2
Jinja2==2.9.6
latex==0.6.4
latexbuild==0.2.2
latexcodec==1.0.4
matplotlib==2.0.0
mysql-connector-python==2.1.5
netCDF4==1.2.2
numpy==1.11.1
pandas==0.17.2
progressbar2==3.6.2
prompt-toolkit==1.0.14
PyLaTeX==1.2.1
scipy==0.17.0
seaborn==0.8
tqdm==4.19.4
utm==0.4.0
